html, body {
  height:100%;
  width:100%;
}
 
#es {
  height:50px;
  width:50px;
}

#tempZew {
  height:50px;
  width:50px;
}

/*#n1 {
  height:25px;
  width:25px;
  /*min-height:150px;
}

#n2 {
  height:25px;
  width:25px;
  min-height:150px;
}

#n3 {
  height:25px;
  width:25px;
 min-height:150px;
}

#n4 {
  height:25px;
  width:25px;
  min-height:150px;
}*/
