body, html
{
   background-color: #white;
   color: #000000;
   font-size: 22px;
   letter-spacing: 1px;
   font-family: 'Lato', sans-serif;
   /*font-family: 'Josefin Slab', serif;*/
   /*font-family: 'Josefin Sans', sans-serif*/
   width: 100%;
   height: 100%;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  width: 28%;
  height: 400px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

#container 
{
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.title{
	font-size: 45px;
}

.chart{
	text-align: center;
}

#time 
{
  margin-bottom: 10;
  margin-top: 10;
  text-align: center;
}

#slider 
{
	margin-top: 100px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
}

.sticky 
{
    top: 5px;
    background-color: white;
    color: black;
    text-align: center;
    overflow: visible;
}

#footer 
{
	clear: both;
	height: 41px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}

#fontello 
{
	float: left;
}

.UR
{
	float: left;
}
.UR:hover
{
	color: black;
}

.fb
{
	float: left;
}

.database
{
	float: left;
}

#stopka
{
  text-align: center;
}